* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;

}

.banner {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);

    justify-content: space-between;

    padding-left: 180px;
    padding-right: 100px;
    margin-bottom: 0px;


}

.banner-contain {

    width: 708px;
}

.banner-contain .text {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    margin-top: 160px;
    margin-bottom: 32px;



}

.banner-contain .para {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;

    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;

}

.button {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;


}

.banner-image {
    width: 500px;

    margin-top: 50px;
    margin: 0px;
    display: block;


}

.section-title {
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.feature-section .h2tag {
    margin-top: 100px;
    margin-bottom: 20px;
}

.feature-section .para {
    color: rgba(39, 39, 39, 0.60);

    font-family: Lato;
    font-size: 15px;

    font-weight: 400;
    text-align: center;
    line-height: 30px;
}

.flower-tree {
    display: flex;

    gap: 15px;

}

.flower-tree .flower-tree1-image {
    width: 280px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 180px;


}

.flower-image-1 {

    width: 200px;
    height: 255px;

    margin: 65px 55px 20px 45px;
}

.flower-tree .flower-tree2-image {
    width: 280px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    position: relative;




}

.flower-tree .flower-image-2 {

    width: 230px;
    height: 255px;
    margin: 55px 60px 30px 35px;
}


.flower-tree .flower-tree3-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 280px;
    height: 320px;
    margin-right: 200px;



}

.flower-tree .flower-image-3 {
    width: 230px;
    height: 275px;
    margin: 45px 65px 20px 20px;

}

.fatag2 {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-left: 30%;
}

.fatag1 {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-left: 30%;
}

.fatag3 {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-left: 30%;

}

.section2 {
    margin-top: 150px;
}

.del {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 160px;
    margin-left: 180px;
    height: 200px;

}

.image1 {

    width: 60px;
    height: 60px;


}

.image2 {

    width: 60px;
    height: 60px;
    margin-left: 20px;

}

.image3 {

    width: 60px;
    height: 60px;

}


.deli {

    margin-bottom: 10px;


}

.del .deli {
    text-align: center;

}

.del .noop {
    text-decoration: none;

    color: rgba(39, 39, 39, 0.80);

    font-family: Lato;
    font-size: 15px;

    font-weight: 600;
    line-height: 25px;
    margin-left: 40px;
}

.noop2 {
    text-decoration: none;

    color: rgba(39, 39, 39, 0.80);

    font-family: Lato;
    font-size: 15px;
    margin-right: 100px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 0px;
}

.noop3 {
    text-decoration: none;

    color: rgba(39, 39, 39, 0.80);

    font-family: Lato;
    font-size: 15px;
    margin-right: 100px;
    font-weight: 600;
    line-height: 25px;
    margin-left: 100px;
}

#section-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 30px;
}

.pic-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 120px;

}


.pic-set .images 
{
    width: 200px;
    height: 250px;
}
.sub-btn
{border-radius: 8px;
    background: #E55473;}
.deal
{
    text-align: center;
    background:url("./Flower Asset/background.png");
    background-position: center;
    background-size: 100% 100%;
 
    height: 400px;
    margin: 170px;
    margin-top: 100px;
    margin-bottom: 100px;
 
    
}
.deal .section-title
{
    margin-top: 100px;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 100px;
}
.email
{
    width: 400px;
height: 48px;
border-radius: 8px;
background: #FFF;
padding-left: 20px;
border: none;
color: rgba(39, 39, 39, 0.60);

font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;

}
.deal .button {
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 15px 33px;
    border: none;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 10px;


}
.info
{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}


